/*  your css code here. If applicable */
#yellow{
	border-width:1px;
	border-color:green;
	margin:10px;
}
.red{
	border-width:1px;
	border-color:black;
	margin:10px;
}
#green{
	border-width:1px;
	border-color:yellow;
	margin:10px;
}